<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto">
			                <li class="nav-item">
			<a href="/admin-account" class="btn btn-outline-light ml-2 mr-2" role="button">Account</a>
                </li>
							                <li class="nav-item">
			<a href="/admin-crud-users" class="btn btn-outline-light ml-2 mr-2" role="button">Add/Edit/Delete Users</a>
                </li>
							                <li class="nav-item">
			<a href="/admin-crud-admins" class="btn btn-outline-light ml-2 mr-2" role="button">Add/Edit/Delete Admins</a>
                </li>
							                <li class="nav-item">
			<a href="/admin-bus-intel" class="btn btn-outline-light ml-2 mr-2" role="button">Business Intelligence</a>
                </li>
							                <li class="nav-item">
			<a href="/logout" class="btn btn-outline-light ml-2 mr-2" role="button">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>