<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
			</ul>
			<ul class="navbar-nav navbar-right">
				<li class="nav-item">
					<a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Sign Up
						<span class="sr-only">(current)</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container pt-5">
	<div class="row">
		<div class="col-sm-4 offset-sm-4">
			<form action="/forgotpassword" method="POST">
				<h4 class="text-center">Forgot your password?</h4>
				{{#if error}}
				<div class="alert alert-danger alert-dismissible fade show">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>{{error}}!</strong> Email does not exist.
				</div>
				{{/if}} 
				{{#if resetError}}
				<div class="alert alert-danger alert-dismissible fade show">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Error!</strong> Cannot reset retry by sending another request.
				</div>
				{{/if}}
				{{#if sent}}
				<div class="alert alert-success alert-dismissible fade show">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Sent!</strong> Please reset password by following the link sent to {{sent}}
				</div>
				{{/if}}
				<div class="form-group">
					<input type="email" name="email" placeholder="Email" autofocus class="form-control">
				</div>
				<div class="form-group text-center">
					<input type="submit" class="btn btn-dark" value="Reset Password">
				</div>
			</form>
		</div>
	</div>
</div>
<style type="text/css">
   body { background: #00C9FF;  
   /*I got this code from a gradient generator https://uigradients.com/#BackToEarth*/
   /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>