<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand text-white" href="#">ERP</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/login">Login
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/signup">Sign Up
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<div class="row">
	<div class="col-md-12">
		<form action="/forgotpassword/reset/password/{{token}}" method="POST">
		  <h3>Reset Password</h3>
		  		{{#if error}}
				<div class="alert alert-danger alert-dismissible fade show">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Error!</strong> Passwords do not match.
				</div>
				{{/if}}
		  <div class="form-group">
		    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <input type="password" name="confirmPass" value="" placeholder="Confirm password" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <button type="submit" class="btn btn-custom text-white">Update Password</button>
		  </div>
		</form>
	</div>
</div>
</div>